<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Auto‑Convocation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#mainNavbar" aria-controls="mainNavbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/candidats}">Candidats</a>
        </li>
         <li class="nav-item">
           <a class="nav-link" th:href="@{/resultats}">Resultats</a>
         </li>
        <!--tu peux ajouter d'autres liens ici -->
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
